.container {
    display: flex;
    flex-direction:column;
  }

  * {
    box-sizing: border-box;
  }
  
  main {
    width: 800px;
    border: 1px solid #e0e0e0;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
  }
  
  .left-block {
    width: 160px;
    border-right: 1px solid #e0e0e0;
  }

  .colors {
    background-color: #ece8e8;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  .brushes {
    background-color: purple;
    padding-top: 5px;
  }
  
  .brushes button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: #ece8e8;
    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
  }
  
  .brushes button:after {
    height: 1px;
    display: block;
    background: #808080;
    content: "";
  }
  
  .brushes button:nth-of-type(1):after {
    height: 1px;
  }
  
  .brushes button:nth-of-type(5):after {
    height: 5px;
  }
  .brushes button:nth-of-type(9):after {
    height: 5px;
  }
  
  .buttons {
    height: 80px;
    padding-top: 10px;
  }
  
  .buttons button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: #ece8e8;
    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 16px;
  }
  
  .right-block {
    width: 640px;
  }
  
  #paint-canvas {
    cursor: crosshair;
  }
  