<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Newsoft</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins|Raleway:400,600|Righteous&display=swap"
    rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{url_for('static',filename='css/responsive.css')}}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <span>
              LaMa🎞📷
            </span>
          </a>

          <div class="navbar-collapse" id="">
            <div class="d-none d-lg-flex ml-auto flex-column flex-lg-row align-items-center mt-3">
              <form class="form-inline mb-3 mb-lg-0 ">
                <button class="btn  my-sm-0 nav_search-btn" type="submit"></button>
              </form>
              <ul class="navbar-nav  mr-5">
                <li class="nav-item mr-5">
                  <a class="nav-link" href="service.html">
                    <span>Login</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a class="btn btn" href="/">Home</a>
                  <a href="/about">About</a>
                  <a href="/feature">Features</a>
                  <a href="/upload_file">Upload file</a>
                 
                  <a href="/gallery">Gallery</a>
                  <a href="/contact">Contact Us</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- who section -->
  <section class="who_section layout_padding">
    <div class="container who_container">
      <div class="who_img-box">
        <img src="{{url_for('static',filename='images/teaser.gif')}}" alt="" />
      </div>
      <div class="who_deail-box">
        <h2>
          what is LAMA?
        </h2>
        <p>

          Modern image inpainting systems, despite the significant progress,
          often struggle with large missing areas, complex geometric structures,
          and high-resolution images. We find that one of the main reasons for that
          is the lack of an effective receptive field in both the inpainting network
          and the loss function. To alleviate this issue, we propose a new method called large mask inpainting (LaMa). </p>
          <p>
          The proposed method can successfully in paint large regions and works well
          with a wide range of images, including those with complex repetitive structures.
          The method generalizes to high-resolution images, while trained only in low 256 × 256 resolution.</p>

        <div>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end who section -->

 

  <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
</body>

</html>