<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.min.js" integrity="sha512-nPzvcIhv7AtvjpNcnbr86eT6zGtiudLiLyVssCWLmvQHgR95VvkLX8mMpqNKWs1TG3Hnf+tvHpnGmpPS3yJIgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="/static/c2.css">
</head>
<body>

Drawing: <input id="mode" type="checkbox" checked><br/>
Color: <input id="color" type="color" value="#000000"><br/>
Brush size: <input id="size" type="range" min="1" max="100" step="1" value="20"><br/>
Brush opacity: <input id="opacity" type="number" min="0" max="1" step="0.1" value="0.5"><br/>
<div id="cont">
  <canvas id="draw" width="500" height="500"></canvas>
  <canvas id="cursor" width="500" height="500"></canvas>
</div>
<div id="output">
  <img id="img" src="" width="500" height="500">
</div>
<button id="btngen" data-img="{{image_path}}">Generate Mask</button>
<button id="btnclear" data-img="{{image_path}}">Clear</button>
<button id="btnsave">Save</button>


<script src="/static/c2.js"></script>
<script>
  loadTheImage('{{image_path}}')
</script>
</body>
</html>