
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>MY APP</title>
  <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
<a class="btn btn-primary" href="/paint">use application</a>
  <div class="wrapper">
    <header>Upload Files Here</header>
    <form action="#">
      <input class="file-input" type="file" name="file" hidden>
      <i class="fas fa-cloud-upload-alt"></i>
      <h4 style="padding-top: 20px;">Browse File to Upload</h4>
    </form>
    <section class="progress-area"></section>
    <section class="uploaded-area"></section>
  </div>

  <script src="/static/script.js"></script>
</body>

</html>